{% extends 'base/base.html' %}


{% block header %}
<div class="container-fluid">
    <h4 class="text-center">Listado de Registros</h4>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Sexo</td>
                <td>Edad</td>
                <td>Fecha de Rescate</td>
                <td>Adoptante</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for mascota in object_list %}
                <tr class="table-active">
                    <th scope="row">{{ mascota.id }}</th>
                    <td>{{ mascota.nombre }}</td>
                    <td>{{ mascota.sexo }}</td>
                    <td>{{ mascota.edad_aproximada }}</td>
                    <td>{{ mascota.fecha_rescate }}</td>
                    <td>{{ mascota.persona.nombre }} {{ mascota.persona.apellido }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="{% url 'mascota:mascota_editar' mascota.id %}">Editar</a>
                        <a class="btn btn-outline-danger" href="{% url 'mascota:mascota_eliminar' mascota.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <h1>No Existen Registros de Mascotas</h1>
            {% endif %}
        </tbody>
    </table>
    <ul class="text-center">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}
