{% extends 'base/base.html' %}

{% block title %}Registro de Mascotas{% endblock %}

{% block navbar %}
{% endblock %}

{% block header %}
<div class="container">
    <h4>Recuperar Contraseña</h4>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <label for="id_email">Correo:</label> {{ form.email }}
        <input class="btn btn-outline-primary" type="submit" value="Enviar">
        <!-- <button type="submit" class="btn btn-outline-primary">Guardar</button> -->
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock%}
